<p id="notice"><%= notice %></p>

<p>
  <b>Allowed keyword:</b>
  <%= @smsalert_check.allowed_keyword %>
</p>


<%= link_to 'Edit', edit_smsalert_check_path(@smsalert_check) %> |
<%= link_to 'Back', smsalert_checks_path %>
